* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important; /* Menyembunyikan kursor asli untuk diganti kursor custom */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: var(--font-cyber);
    overflow-x: hidden;
    min-height: 100vh;
}